.profile__name {
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

@media (min-width: 620px) {
  .profile__name {
    font-size: 36px;
    line-height: 38px;
    max-width: 300px;
  }
}

@media (min-width: 918px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    max-width: 500px;
  }
}
