.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 361px);
  gap: 20px;
  padding-top: 36px;
}

@media (min-width: 620px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 361px);
    gap: 17px;
  }
}

@media (min-width: 918px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 361px);
    padding-top: 22px;
    column-gap: 17px;
    row-gap: 20px;
  }
}
